<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styless.css">
</head>
<body>
<header>
    <div><img src="/image/logo-mercado-liebre.svg" alt="logo"></div>
    <div>Lugar para poner la barra de búsqueda</div>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
        <ul>
            <li><a href="Ofertas">Ofertas</a></li>
            <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="Creá tu cuenta">Creá tu cuenta</a></li>
            <li><a href="Ingresá">Ingresá</a></li>
            <li><a href="Mis compras">Mis compras</a></li>
        </ul>
    </nav>
    <img src="/image/img-home-banner.jpg" width="410" height="150" alt="">
</header>
<main>
        <div>
            <h2>Basado en tu última visita</h2>
            <section>
                <img src="/image/img-cafetera-moulinex.jpg" width="410" height="300" alt="">
                <p>$6.770</p>
                 <p>40% OFF</p>
                 <h3>Cafetera Moulinex</h3>
            </section>
            <section>
                <img src="/image/img-macbook-pro-2019.jpg" width="410" height="350" alt="">
                <p>$230.000</p>
                <p>20% of</p>
                <h3>MacBook Pro 2019</h3>
            </section>
            <section>
                <img src="/image/img-samsung-galaxy-s10.jpg" width="410" height="350" alt="">
                <p>$70.500</p>
                <p>10% of</p>
                <h3>Samsung Galaxy S10</h3>
            </section>
            <section>
                <img src="/image/img-tv-samsung-smart.jpg" width="410" height="350" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </section>
        </div>
        <div>
            <h2>Sección de Ofertas</h2>
            <section>
                <img src="/image/img-cafetera-moulinex.jpg" width="410" height="300" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </section>
            <section>
                <img src="/image/img-macbook-pro-2019.jpg" width="410" height="350" alt="">
                <p>$230.000</p>
                <p>20% of</p>
                <h3>MacBook Pro 2019</h3>
            </section>
            <section>
                <img src="/image/img-samsung-galaxy-s10.jpg" width="410" height="350" alt="">
                <p>$70.500</p>
                <p>10% of</p>
                <h3>Samsung Galaxy S10</h3>
            </section>
            <section>
                <img src="/image/img-tv-samsung-smart.jpg" width="410" height="350" alt="">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </section>
        </div>
</main>
<footer>
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    <h4>Envío gratis desde $ 2.500</h4>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</footer>
</body>
</html>