<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body class="register-login">
<header>
    <div class="logo-search-compra"> 
        <div class="logo">
            <a href="/"><img src="/image/logo-mercado-liebre.svg" alt="logo"></a>
        </div>
        <div class="search-bar" >
            <form action="">
                <input type="text" name="buscar" placeholder=" Buscar productos, marca">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <p class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
        <ul class="navbar">
            <li><a href="Ofertas">Ofertas</a></li>
            <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li>
        </ul>
        <ul class="login-bar">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="Mis compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
    <section class="banner">
        <img src="/image/img-home-banner.jpg" alt="">
    </section>
<main>
    <div class="contenedor">
        <h2>Iniciar sesion</h2>
        <form action="">

            <!--usuario-->
            <div class="container-input">
                <label for="usuario">Nombre de usuari@:</label>
                <input id="usuario" type="text" placeholder="Nombre de usuari@" name="usuario">
            </div>
    
            <!--contraseña-->
            <div class="container-input">
                <label for="contraseña">Contraseña:</label>
                <input id="contraseña" type="password" name="pass"placeholder="Contraseña" minlength="8">
            </div>
            
            <!--botones-->
            <div class="container-buttons">
                <button class="btn-celeste" type="submit">Enviar</button>
            </div>

        </form>
    </div>
</main>
<footer>
    <div class="icono">
        <i class="fas fa-credit-card"></i>
    </div>
    <section class="articulo">
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <div class="icono">
        <i class="fas fa-gift"></i>
    </div>
    <section class="articulo">
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <div class="icono">
        <i class="fas fa-user-shield"></i>
    </div>
    <section class="articulo">
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </section>
    <p class= "copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
</footer>
</body>
</html>
