footer{
    background-color: white;
    margin: 10px 5px 5px;
    padding-top: 10px;
}
footer div.icono{
    display: block; /*centra*/
    color: var(--Celeste); /*color-medio*/
    font-size: 2em; /*tamaño*/
    margin: 35px auto 10px; /*margen arriba, costados, abajo*/
    text-align: center; /*alinea*/
}
footer .articulo{
    padding: 0 29px ;
}

footer .articulo h4{
    font-size: 16px;
    color: var(--GrisOscuro);
    text-align: center;
}
footer .articulo p{
    font-size: 12px;
    color: var(--GrisOscuro);
    text-align: center;
}

footer .copyright{
    font-size: 12px;
    color: var(--GrisOscuro);
    padding-bottom: 20px;
    margin: 40px auto 0;
}
