footer div.icono{
    display: block; /*centra*/
    color: var(--Celeste); /*color-medio*/
    font-size: 2em; /*tamaño*/
    margin: 40px auto 10px; /*margen arriba, costados, abajo*/
    text-align: center; /*alinea*/
}

footer .articulo h4{
    font-size: 18px;
    color: var(--GrisOscuro);
    text-align: center;
}
footer .articulo p{
    font-size: 16px;
    color: var(--GrisOscuro);
    text-align: center;
}

footer .copyright{
    font-size: 16px;
    color: var(--GrisOscuro);
    margin: 40px auto 20px;
}