*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /*tipo de letra*/
}
a{
    text-decoration: none; /*quita subrayado*/
}

li{
    list-style: none; /*quita viñeta*/
}

/*inputs*/
.register-login input, .register-login button{
    padding: 10px;
    border: none;
    border-radius: 10px;
}
/*colores*/
:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

/*Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px*/

