header{
    background-color: var(--Amarillo);
    padding: 30px 10px 10px 10px;
}
header div.logo-search-compra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
header div.logo {
    width: 48%;
}
header div.search-bar{
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 26px;
    padding: 3px; 
    background-color: white;
    border-radius: 10px;
}
header div.search-bar input{
    width: 88%;
    border: none;
}
header div.search-bar i{
    margin-right: 2px;
    padding-top: 2px;
    color: var(--GrisOscuro);
}
header p.compra{
    font-size: 12px;
    text-align: center;
    margin: 15px auto;
}
header nav{
    display: none;
}

header nav ul{
    font-size: 12px;
    
}
header nav ul li a{
    text-decoration: none; /*quita subrayado*/
    color: #000;
    font-size: 12px;
}
header div.burger-menu{
    width: 40px;/*ancho*/
    padding: 4px;  /*espacio interno*/
    background-color: var(--Celeste); /*color-fondo*/
    display: block; /*centra*/
    color: rgb(255, 255, 255); /*color-medio*/
    font-size: 25px; 
    margin: 10px auto; /*margen arriba, costados, abajo*/
    text-align: center; 
    border-radius: 10%;
}

/*tablet*/
@media (min-width: 768px){
    header div.logo {
        width: 32%;
    }
    header div.search-bar{
        width: 32%;
    }
    header p.compra{
        width: 32%;
        margin: 0;
    }
    header div.burger-menu{
        display: none;
    }

    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        margin: 0 10px;
    }
}


/*desktop*/
@media (min-width: 1024px){
    header div.search-bar {
        width: 25%;
    }
}