header{
    background-color: var(--Amarillo);
    padding: 10px;
}
header img {
    margin: 10px 0 15px 20px;
    width: 50%;
}
header section.caja-busqueda{
    display: flex;
}
header div.search-bar{
    background-color: #ffffff;
    border: 1px solid var(--GrisOscuro);
    color: var(--GrisOscuro);
    width: 70%;
    padding: 2px;
    font-size: 16px;
    margin-left: 10px;
}
header div.icono-busqueda{
    background-color: var(--GrisClaro);
    border: 1px solid var(--GrisOscuro);
    width: 20px;
    margin-left: 5px;
    padding: 1px;
}
header p{
    font-size: 12px;
    text-align: center;
    margin: 15px auto;
}
header nav{
    display: none;
}

header nav ul{
    font-size: 12px;
    
}
header nav ul li a{
    text-decoration: none; /*quita subrayado*/
    color: #000;
    font-size: 12px;
}
header div.burger-menu{
    width: 40px;/*ancho*/
    padding: 4px;  /*espacio interno*/
    background-color: var(--Celeste); /*color-fondo*/
    display: block; /*centra*/
    color: rgb(255, 255, 255); /*color-medio*/
    font-size: 25px; 
    margin: 30px auto 15px; /*margen arriba, costados, abajo*/
    text-align: center; 
    border-radius: 10%;
}

