.home{
    background-color: var(--GrisClaro);
}
.home .banner img {
    width: 100%;
  }
.home main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.home main section{
    display: flex;
    flex-wrap: wrap;
}
.home main section h2.titulares{
    font-size: 24px;
    color: var(--GrisOscuro);
    width: 100%;
}

.home main section article.producto{
    margin: 10px auto;
    background-color: white;
    transition: all ease .3s;
}
.home main section article.producto:hover{
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
}

.home main section article img.img-foto{
    width: 100%
}
.home main section article div.info-producto{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

.home main section article div.logo-envio{
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: var(--Verde);
    border: solid 1px var(--Verde);
    background-color: white;
    font-size: 16px;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    position: absolute;
    transition: all ease .3s;
}
.home main section article:hover div.logo-envio{
    box-shadow: 0px 0px 5px var(--Verde);
    transform: rotate(360deg);
}

.home main section article div.prec-desc{
    display: flex;
}
.home main section article div p.precio{
    font-size: 18px;
    color: black;
    flex-grow: 0.3;
}
.home main section article div p.descuento{
    font-size: 16px;
    color: var(--Verde);
    flex-grow: 0.7;
}
.home main section article div p.descripcion{
    height: 0;
    font-size: 16px;
    color: var(--GrisOscuro);
    transition: all ease .3s;
    overflow: hidden; 
}
.home main section article:hover div p.descripcion{
    height: 20px;
    margin-top: 10px;
}

/*tablet*/
@media (min-width: 768px){
    .home main section article.producto{
        margin: 6px auto;
        width: 48%;
    }
}

/*desktop*/
@media (min-width: 1024px){
    .home main section article.producto{
        margin: 10px auto;
        width: 21%;
    }
}
