.home{
    background-color: var(--GrisClaro);
}
.home main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.home .banner img {
    width: 100%;
  }
.home section{
    display: flex;
    flex-wrap: wrap;
}
.home h2.titulares{
    font-size: 24px;
    color: var(--GrisOscuro);
    width: 100%;
}

.home .producto{
    margin: 10px auto;
    background-color: white;
}

.home .img-foto{
    width: 100%
}
.home .info-producto{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

.home .logo-envio{
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: var(--Verde);
    border: solid 1px var(--Verde);
    background-color: white;
    font-size: 16px;
    border-radius: 50%;
    right: 20px;
    top: -15px;
    position: absolute;
}
.home p.precio{
    font-size: 18px;
    color: black;
    flex-grow: 0.3;
}
.home p.descuento{
    font-size: 16px;
    color: var(--Verde);
    flex-grow: 0.7;
}
.home p.descripcion{
    display: none; /*quita descripcion*/
    padding-top: 10px;
    font-size: 16px;
    color: var(--GrisOscuro);
}

/*tablet*/
@media (min-width: 768px){
    .home .producto{
        margin: 6px auto;
        box-shadow: 0px 0px 8px rgb(100, 100, 100);
        width: 48%;
    }
    .home p.descripcion{
        display: block;
    }
    
}

/*desktop*/
@media (min-width: 1024px){
    .home .producto{
        margin: 10px auto;
        width: 21%;
    }
}
